.recipe-detais-main img {
  width: 360px;
  height: 360px;
}
.carrousel-container img {
  width: 180px;
  height: 180px;
}

.carrousel-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  gap: 10px;
}

.carrousel-card {
  text-align: center;
}


.recipe-detais-main {
  height: 100vh;
  width: 100vw;
  text-align: center;
}
